<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Steam KEYS -->    
    <add key="SteamOpenIDUrl" value="http://steamcommunity.com/openid" />
    <add key="SteamOpenIDReturnURL" value="http://localhost:53266/Steam/HandleAuthentication" />
    <add key="SteamCommunityURL" value="http://store.steampowered.com/app/{0}?l=Portuguese"/>
    <add key="SteamIDReturnParameter" value="openid.identity" />
    <add key="SteamAppKey" value="DEEED0D863FB034156110CDDDE7A733F" />
    <add key="SteamID_TESTE" value="76561198056220460" />
    <add key="SteamUser" value="techtreePushToPlay" />
    <add key="SteamPass" value="charad01" />

    <add key="JAN" value="1"/>
    <add key="FEV" value="2"/>
    <add key="MAR" value="3"/>
    <add key="ABR" value="4"/>
    <add key="MAI" value="5"/>
    <add key="JUN" value="6"/>
    <add key="JUL" value="7"/>
    <add key="AGO" value="8"/>
    <add key="SET" value="9"/>
    <add key="OUT" value="10"/>
    <add key="NOV" value="11"/>
    <add key="DEZ" value="12"/>   
    
    <!-- GiantBomb Keys -->
    <add key="GiantBombAPIKey" value="e8f066dc9eba46378a89f7ddc0dcd1d94f6cd2a5" />
    
    <add key="GiantBombAPIUrl" value="www.giantbomb.com/api/{0}/" />
    <add key="GiantBombGamesAPI" value="games" />
    <add key="GiantBombPlatformAPI" value="platforms" />
    <add key="GiantBombGenreAPI" value="genres"/>
    <add key="GiantBombReleaseApi" value="releases"/>
        
    <add key="GiantBombSpecificAPIUrl" value="www.giantbomb.com/api/{0}-{1}/"/>
    <add key="GiantbombAPIGameDetailCode" value="game/3030"/>

    <add key="GiantBombRegionUS" value="1"/>
    <add key="GiantBombPlatformQueryID" value="20|17|35|36|94|139|145|146|152|88|86|96|123|121" />
    <!--<add key="GiantBombPlatformQueryID" value="123" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.664" newVersion="2.0.0.664" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="PushToPlayContext" connectionString="metadata=res://*/PushToPlayModel.csdl|res://*/PushToPlayModel.ssdl|res://*/PushToPlayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=push2play.database.windows.net;Initial Catalog=pushtoplay;User ID=push2play;Password=PushToPlay01;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>