<img height="200" class="" src="~/Content/images/Meu instantâneo 3.png" style="width:195px;margin-left:9px;margin-right:9px;margin-bottom:6px;"/>
<ul>
    <li class="sticker stickerColor"><a href=@Url.Action("home", "user") ><i class="icon-"></i>Perfil</a></li>
    <li class="sticker sticker-color-red"><a><i class="icon-target-2"></i>Jogos</a></li>
    <li class="sticker sticker-color-blueDark"><a><i class="icon-user"></i>Amigos</a></li>
    <li class="sticker sticker-color-blueDark">
        <a><i class="icon-cube"></i>Clans</a>
    </li>
    <li class="sticker sticker-color-blueDark">
        <a><i class="icon-cube-2"></i> Grupos</a>
    </li>
    <li class="sticker sticker-color-blueDark">
        <a><i class="icon-calendar"></i>Eventos</a>
    </li>
    <li>
    </li>
    <li class="sticker sticker-color-blueDark">
        <a><i class="icon-share-2"></i>Steam</a>
    </li>
</ul>    